
body {
    margin: 0;
    box-sizing: border-box;
}

/* PAGE CONNEXION */
.connexion-form {
    font-weight: bold;
    width: 30%;
    margin: 50px auto 0;
    
}
.connexion-form > form {
    border: 1px grey solid;
    padding: 10px;
    overflow: hidden;
}
#connexion-label {
    margin-top: 20px;
}
#connexion-submit {
    background-color: white;
    padding: 10px 20px;
    margin-left: auto;
    float: right;
}
/* PAGE CONNEXION /END */

/* NAV ADMIN */
#bg-nav-admin{
    background-image: url(jus/elements-summer-fruits-patterns-2P6QQ5-2018-04-17/SummerFruitsPatterns-06.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px;
}
/* NAV ADMIN /END */

/* NAV VISITEUR */
#bg-nav-visit{
    background-image: url(jus/elements-summer-fruits-patterns-2P6QQ5-2018-04-17/SummerFruitsPatterns-04.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 20px; 
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
#nocouleur{
    width: 55%;
    height: 50px;
    padding: 10px;
    font-weight: bold;
}
#couleur{
    width: 200px;
    height: 50px;
    padding: 10px;
    background-color:#e7fe46;
    color:#57e9e3;
    font-weight: bold;
}
/* NAV VISITEUR / END */

#type-select {
    background-color: white;
    width: 250px;
    height: 34px;
}
/* PAGE AJOUTER UN INGREDIENT */
.ajout-ingredient-form {
    width: 50%;
    margin: auto;
    font-weight: bold;
}
#submit {
    background-color: white;
    padding: 10px 20px;
}
#photo-ingredient, #photo-recette {
    background-color: white;
    padding: 10px 20px;
    border: 1px #b6b6b3 solid;
}
.ajout-ingredient-div-gauche {
    width: 40%;
    float: left;
    margin-right: 200px;
}
/* PAGE AJOUTER UN INGREDIENT / END */

/* PAGE INGREDIENTS ET RECETTES */
.container-complet-ingredient-recette {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 50px auto 0;
}
.container-ingredient-recette {
    width: 100%;
}
.container-recette-ingredient {
    width: 100%;
}
.titre-ingredient, .titre-recette {
    margin: 0;
}
.ingredient-ajouter-div-gauche {
    display: flex;
    justify-content: space-between;
}
span {
    margin-left: 20px;
}
.detail-ingredient, .detail-recette {
    margin: 0 10px;
    padding: 5px 0;
    height: auto;
    border: 1px #b6b6b3 solid;
}
.bouton-retour-ajouter-ingredient {
    text-decoration: none;
    color: #b6b6b3;
    background-color: white;
    border: 1px #b6b6b3 solid;
}
.lien-ingredient-vers-modifier-ingredient {
    text-decoration: none;
    color: black;
}
.lien-ingredient-vers-modifier-ingredient:hover {
    color: orangered;
}
/* PAGE INGREDIENTS ET RECETTES / END */

/* PAGE AJOUTER ET MODIFIER INGREDIENT */
.modifier-ingredient-div-gauche {
    width: 40%;
    float: left;
    margin-right: 100px;
}
.ajout-ingredient-form {
    width: 50%;
    margin: auto;
    font-weight: bold;
}
#submit {
    background-color: white;
    padding: 10px 20px;
}
#photo-ingredient, #photo-recette {
    background-color: white;
    padding: 10px 20px;
    border: 1px #b6b6b3 solid;
}
.ajout-ingredient-div-gauche {
    width: 40%;
    float: left;
    margin-right: 100px;
}
/* PAGE MODIFIER INGREDIENT */

/* PAGE EDITER INGREDIENTS */
.modifier-recette-form {
    width: 50%;
    margin: auto;
    font-weight: bold;
}
.modifier-recette-div-gauche {
    width: 40%;
    float: left;
    margin-right: 200px;
}
.marge-gauche-modifier-recette {
    margin-left: 20px;
}
/* PAGE EDITER INGREDIENTS /END */

/* PAGE DESCRIPTION RECETTE */
#container {
    display: flex;
    justify-content: center;
}
#ingredient {
    padding: 50px;
}
#descriptif {
    padding: 50px;
}
p {
    font-size: 20px;
    line-height: 1.8;
}
/* PAGE DESCRIPTION RECETTE / END */

/* PAGE RECETTES */
#turquoise{
    color: #57e9e3;
    text-decoration: none;
}
#container-ingredient-recette{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: auto;
}
.card{
    width:310px;
    margin: 10px 3px;
    color: grey;
    text-align: center;
    color: #909090;
}
.image{
    border: 5px solid #b7b7b7;
    text-align: center;
    padding: 30px;
}
.img-full{
    height: 250px;
    width:180px;
}
.texte{
    border-width: 0 5px 5px 5px;
    border-style: solid;
    margin: auto;
    height: 50px;
    border-color: #b7b7b7;
    padding: 3px 2px 3px;
}
.texte > a {
    text-decoration: none;
    color: black;
}
#gris{
    margin-top: 50px;
    color: #919191;
}
#turquoise{
    color: #6ccdce;
    font-size: 20px;
    font-size: bold;
    background-color: white;
}
#partage{
    text-align: center;
    margin-bottom: 20px;
}
.carte-recette {
    width: 410px;
    margin-top: 15px;

}
/* PAGE RECETTES / END */